{% extends "core/base.html" %}
{% block title %}Contacto{% endblock title %}
{% block content %}
    <body>
        <div class="form">
           <div class="form_content"> 
                <div class="form_content_form">
                        <h2>Formulario de registro</h2>
                        <br>
                        <br>
						<form method="POST" class="post-form">
							{% csrf_token %}
							{{ form.as_p }}
							<button type="submit" class="save btn btn-default">Guaurdar!</button>
						</form>

                </div>  
            </div>
        </div>
    </body>
{% endblock content %}