{% extends "core/base.html" %}
{% load static %}
{% block title %}
	Home
{% endblock title %}
{% block content %}
	<div class="landing">
		<div class="slider">
			{% for Perrito in doggy %}
				<div >
					<img class="landing_image" src="{{Perrito.imagen.url}}" title="{{Perrito.nombre}}. {{Perrito.descripcion}}">
				</div>
			{% endfor%}
		</div>
		<ul class="main">
				<h2 class="number">+56 9 98765431</h2>
				<h3 class="mission">Rescate y adopción de perros callejeros</h3>
			<ul class="social">
				<li>
					<img src="{% static 'core/img/socialfacebook.png' %}" alt="Facebook">
				</li>
				<li>
					<img src="{% static 'core/img/socialplus.png' %}" alt="Google Plus">
				</li>
				<li>
					<img src="{% static 'core/img/social-inst.png' %}" alt="Instagram">
				</li>
				<li>
					<img src="{% static 'core/img/socialcorreo.png' %}" alt="Correo">
				</li>
		</ul>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="column">
			<div class="content_left">
				<p class="content_left_title">
					RESCATE
				</p>
				<p class="content_left_subtitle">
					ETAPA UNO
				</p>
				<br>
				<br>
				<hr class="content_left_line"/>
				<br>
				<br>
				<p class="content_left_text">
					Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los <br> preparamos para buscarles un hogar.</p>
				</p>
				<br>
				<br>
				<img class="content_left_image" src="{% static 'core/img/rescate.jpg' %}" alt="imagen rescate">
			</div>
		</div>
		<div class="column">
			<div class="content_right">
				<img class="content_right_image" src="{% static 'core/img/crowfunding.jpg' %}" alt="imagen crowdfunding">
				<p class="content_right_title">CROWDFUNDING</p>
				<P class="content_right_subtitle">FINANCIAMIENTO</P>
				<br>
				<br>
				<hr class="content_right_line">
				<br>
				<br>
				<p class="content_right_text">Sigue nuestras redes sociales para informarte acerca de las diversas campañas y <br> actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
				<br>
				<br>
				<ul>
					<button class="content_right_button">CAMPAÑAS</button>
				</ul>
			</div>
		</div>
	</div>
	<br>
{% endblock content %}