{% extends 'core/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<body>
    <div class="form">
       <div class="form_content"> 
            <div class="form_content_form">
                <h2>Registro</h2>
                <form action="" method="post">
                    {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                    <input class="btn btn-info" type="submit" value="Registrar">
                </form>
            </div>  
        </div>
    </div>
</body>
{% endblock %}



